@import './core/var';
.s-box {
  background: $col-white;
  margin: 0 auto;
  &__context {
    margin: 0 auto;
    width: 1200px;
  }
  &__header {
    border-bottom: 1px solid $col-border;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    color: $col-dark-blue;
    cursor: default;
    font-size: 16px;
    margin-top: 30px;
    line-height: 60px;
    height: 60px;
  }
  &__manage {
    width: 100%;
    &--header {
      border-bottom: 1px solid $col-border;
      height: 50px;
      width: 100%;
    }
    &--title {
      color: $col-dark-blue;
      font-size: 16px;
      line-height: 50px;
      margin-left: 10px;
    }
    &--button {
      float: right;
      margin-top: 5px;
      margin-right: 10px;
    }
  }
}