@import './core/var';
.el-button:focus {
  color: #606266;
  background: $col-white;
  border-color: #dcdfe6;
}
.button-bgcolor {
  &__normal {
    background: $col-dark-blue;
    &:hover {
      background: $col-normal-blue;
    }
  }
  &__red {
    background: $col-dark-red;
    &:hover {
      background: $col-normal-red;
    }
  }
}
.el-button--primary {
  color: #fff !important;
  background-color: $col-dark-blue !important;
  border-color: $col-dark-blue !important;
  &:hover {
    background: $col-normal-blue !important;
    border-color: $col-normal-blue !important;
  }
}
