@import './core/var';
.s-dialog {
  height: 100%;
  overflow-y: auto;
  width: 100%;
  &__bak {  // 幕布样式
    background: #000;
    height: 100%;
    left: 0;
    opacity: .3;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1900;
  }
  &__box { // 弹框样式
    background: #fff;
    border-radius: 4px;
    cursor: default;
    min-height: 218px;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    padding: 20px 30px;
    position: fixed;
    top: 50%;
    min-width: 300px;
    z-index: 2000;
    &--title {
      color: $col-dark-blue;
      font-size: 18px;
      height: 22px;
      line-height: 22px;
      position: relative;
      min-width: 74px;
    }
  }
  &__main {
    margin-top: 30px;
    width: 100%;
  }
  &__close {
    color: $col-deepest-gray;
    cursor: pointer;
    font-size: 18px;
    height: 40px;
    line-height: 40px;
    position: fixed;
    right: 0;
    text-align: center;
    top: 0;
    width: 40px;
    z-index: 2200;
    &:hover {
      color: $col-deeper-gray;
    }
  }
  &__imageleft, &__imageright {
    background: rgba(0,0,0,0.3);
    color: #fff;
    cursor: pointer;
    font-size: 18px;
    height: 80px;
    line-height: 80px;
    position: fixed;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    z-index: 2200;
    &:hover {
      background: rgba(0,0,0,0.5);
    }
  }
  &__imageleft {
    left: 0;
  }
  &__imageright {
    right: 0;
  }
  &__imageShow {
    & img {
      position: fixed;
      top: 50%;
      left: 50%;
      max-height: 600px;
      max-width: 600px;
      transform: translateX(-50%) translateY(-50%);
      z-index: 2100;
    }
  }
  &__imageclose {
    background: rgba(0,0,0,0.3);
    color: #fff;
    cursor: pointer;
    font-size: 18px;
    height: 40px;
    line-height: 40px;
    position: fixed;
    right: 0;
    text-align: center;
    top: 0;
    width: 40px;
    z-index: 2200;
    &:hover {
      background: rgba(0,0,0,0.5);
    }
  }
}