@import './core/var';
.el-input__inner:focus {
  outline: 0;
  border-color: $col-dark-blue;
}
.s-input__search {
  margin-right: 16px;
  width: 180px;
}
.el-input-group__append .el-button {
  padding: 12px 15px;
}
